@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    --font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

button {
    border: none;
    cursor: pointer;
    /* outline: none; */
}

.container {
    max-width: 1174px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
    margin-bottom: 84px;
    padding-left: 373px;
    padding-right: 373px;
}

.headerContent {}

.headerContent_img_logo {
    width: 137px;
    height: 40px;
    margin-right: 460px;
}

.headerContent_Home_style {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #f25822;
    margin-right: 14px;
}

.headerContent_style {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-right: 14px;
}

.headerContent_style_triangyl::after {
    content: url(./img/menu_triangle.svg);
    margin-left: 6px;
}

.main {
    margin-bottom: 100px;
    padding-left: 373px;
    padding-right: 373px;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.generalContent {
    max-width: 604px;
}

.mainContent_style_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: #000;
    margin-bottom: 20px;
}

.mainContent_style_p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #888;
    margin-bottom: 32px;
}

.mainContent_style_but_start {
    border-radius: 56px;
    padding: 16px 10px;
    width: 140px;
    height: 51px;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
}

.mainContent_style_but_wath {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #aaa;
    border: none;
    background: transparent;
    margin-left: 48px;
}

.mainContent_img_main {
    width: 545px;
    height: 375px;
    margin-left: 73px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footerContent img {
    width: 134px;
    height: 50px;
    margin-right: 48px;
}